<h1 style="margin-top: 5%; margin-left: 6%; font-size: 24px">Editing Professional</h1>

<%= render 'form', professional: @professional %>

<%= link_to 'Show', @professional, class: "button is-danger" ,style: "float: left; margin-left:10px" %>
<%= link_to 'Back', professionals_path, class: "button is-danger" ,style: "float: left; margin-left: 10px" %>
