<h1 style="margin-top: 5%; margin-left: 6%; font-size: 24px">Exporting appointments from <%= @professional %></h1>

<%= render 'form', {url: professional_export_appointments_path(@professional)} %>

<%= link_to 'Back', professional_appointments_path(@professional), class: "button is-danger" ,style: "float: left; margin-left: 10px" %>
