<h1 style="margin-top: 5%; margin-left: 6%; font-size: 24px">Editing Appointment</h1>

<%= render 'form', appointment: @appointment , professional: @professional %>

<%= link_to 'Show', [@professional, @appointment],class: "button is-danger" ,style: "float: left; margin-left:10px" %>
<%= link_to 'Back', professional_appointments_path(@professional),class: "button is-danger" ,style: "float: left; margin-left:10px" %>
